/* Media queries for responsive design */

/* for-phone-only */
@media (max-width: 599px) {
    h1 {
        font-size: 40px;
        font-family: 'Lobster', serif;
        margin: 0% 20% 0% 20%;
    }
}

/* for-tablet-portrait-up */
@media (min-width: 600px) {

    }
}

/* for-tablet-landscape-up */
@media (min-width: 900px) {

        }
}

/* for-desktop-up */
@media (min-width: 1200px) {

        }
}

/* for-big-desktop-up */
@media (min-width: 1800px) {

        }
}














